<%- include('../template/head')-%>
<%- include('./nav')-%>

<div class="row container-Main">
       
    <div class="container col-6 offset-3 reg-form-area">
        <h2 class="text-center tittle-Form">Ingesa tus datos</h2>
        <form action="/login" method="POST">
        
            <div class="mb-3">
                <label for="email">Email</label>
                <input class="form-control" type="email" name= "email" required />
            </div>
                
            <div class="mb-3">
                <label for="password">Contraseña</label>
                <input class="form-control" type="password" name="password" required />
            </div>
      
            <button class="btn btn-primary col-2 offset-5" type="submit">Enviar</button>
        </form>
    </div>
</div>


<%- include('../template/footer')-%>